{% extends 'base.html' %}

{% block content %}

    <nav class="navbar" style="background-color: #B5838D; color: #FFFFFF;">
        <div class="container-fluid">
        <a class="navbar-brand" style="color: #FFFFFF; font-size: 30px;">Music Albums</a>

        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" style="border-color: #FFFFFF; color: #FFFFFF;">Search</button>
        </form>

        <style>
            button.btn-outline-success:hover {
              background-color: #a97680;
              color: #B5838D;
            }
          </style>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="btn btn-outline-light" href="{% url 'main:logout' %}">Logout</a>
            </li>
        </ul>
        </div>
    </nav>
    

    <body style="font-family: 'Inconsolata', monospace; background-color: #F7F9F7; color: #B5838D;">
    <style>
        body {
            background-color: #F7F9F7;
        }
    </style>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>
    
    <p style="text-align: center;">
        <b>
            You have saved {% if jumlah_item %}{{ jumlah_item }} albums{% endif %} in your collections!
        </b>
    </p>  
      
    <th> </th>

    <table>
        <tr>
            <th style="text-align: center;">Album</th>
            <th> </th>
            <th style="text-align: center;">Amount of Songs</th>
            <th> </th>
            <th style="text-align: center;">Description</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    <form method="post" action="{% url 'main:update_product_amount' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit" name="amount" value="reduce">-</button>
                    </form>
                </td>
                <td style="text-align: center;">{{ product.amount }}</td>
                <td>
                    <form method="post" action="{% url 'main:update_product_amount' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit" name="amount" value="add">+</button>
                    </form>
                </td>
                <td>{{ product.description }}</td>
                <td>
                    <a href="{% url 'main:edit_product' product.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                </td>
                <td>
                    <form method="post" action="{% url 'main:delete_product' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>
    </body>
    
    {% endblock content %}
